
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog mx-md-auto  mr-4 ml-2" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Viết review {{clinic.type}} {{clinic.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
             <form action="{% url 'comment' %}" method="post" class="needs-validation" >
            <div class="modal-body">

                    {% csrf_token %}
                     <div class="form-group">
                        <label for="inputName">Tên Họ</label>
                        {{form.name}}

                    </div>
                   <div class="form-group">
                        <label for="inputLevel">Chức vụ</label>
                        {{form.level}}
                    </div>
                    <div class="form-group">
                        <label for="inputContent">Review phòng khám <span class="text-danger">Bắt buộc</span></label>
                        {{form.content}}
                      <div class="invalid-tooltip">
                      Please choose a unique and valid username.
                    </div>
                    </div>
                        {{form.rate}}
                <input type="hidden" value="{{clinic.id}}" name="clinic">
                <input type="hidden" name="next" value="{% url 'viewreview' clinic_id=clinic.id %}">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                <button class="btn btn-success" type="submit" > Gửi Review</button>
            </div>
                   </form>
        </div>
    </div>
</div>
