<div class="header">
    <nav class="navbar fixed-top" style="background-color: #272547;">
             <div class="row w-100   align-items-center">

            <div class="col-md-1 text-md-right offset-md-1 px-0 pull-right align-items-center">
                 <a href="{% url 'home' %}">
                    <img src="https://goinsider-stag.solidtech.vn/images/logo-homepage.png" alt="" class="img-fluid">
                 </a>
            </div>
            <div class="col-md-7 pl-0  text-white">
                 <a href="{% url 'home' %}" class="text-white text-decoration-none">
                    <h3 class="px-0">Review phong kham</h3>
                 </a>
            </div>
        </div>
    </nav>
</div>